body {
	background-color: darkgray;
}

.choose {
	position: absolute;
	width: 35vmin;
	height: 35vmin;
 	border-radius: 15vw;
 	text-align: center;
 	vertical-align: middle;
}

.choose:hover {
	cursor: pointer;
}

.first {
	top: 17vh;
	left: 10vw;
	border-left: 0.5vw solid white;
	border-right: 0.5vw solid white;
}

.second {
	top: 17vh;
	left: 27vw;
	border-left: 0.5vw solid white;
	border-right: 0.5vw solid white;
}

.third {
	top: 47vh;
	left: 18.5vw;
	border-top: 0.5vw solid white;
	border-bottom: 0.5vw solid white;
}

.login {
	position: relative;
	left: 20vw;
	top: 17vh;
	width: 40vw;
	height: 75vh;
	border: 2vx solid green;
	background-color: white;
	border-radius: 3vw 0vw 3vw 0vw;
	text-align: center;
}

.dp {
    background-color: darkgrey;
    border: 0.25vw solid green;
    border-radius: 50%;
    height: 20vh;
    left: 15vw;
    position: relative;
    top: 5vh;
    width: 20vh;
}

form {
	position: relative;
	top: 7vh
}
.input {
	height: 7vh;
	font-family: Verdana;
	font-size: 2vw;
}

.id {

}

.password {

}

.submit {
	height: 7vh;
	width: 10vw;
}

input.ng-dirty.ng-invalid {
	border: 1px solid red;
}

input.ng-dirty.ng-valid {
	border: 1px solid green;
}