body {
    background-color: #C0D900;
}

.menu {
    z-index: 1;
    border-radius: 0vw 0vw 3vw 3vw;
}

.title {
    position: fixed;
    width: 98vw;
    height: 8vh;
    top: 0vh;
    left: 1vw;
    background-color: #159E8E;
    box-shadow: 0px 0px 5px 5px grey;
}

.header {
    height: 7vh !important;
    top: 1vh !important;
    border-radius: 0vw 0vw 3vw 3vw;
}

.main {
    position: fixed;
    width: 98vw;
    height: 80vh;
    left: 1vw;
    top: 10vh;
    background-color: white;
    box-shadow: 0px 0px 5px 5px grey;
    border-radius: 3vw 3vw 3vw 3vw;
    padding: 1vh 1vw 1vh 1vw;
}

.input {
    border: 1px solid red;
    height: 100%;
    padding: 1vh 1vw 1vh 1vw;
}

.main1 {
    position: fixed;
    width: 72vw;
    height: 80vh;
    left: 14vw;
    top: 10vh;
    background-color: white;
    box-shadow: 0px 0px 5px 5px grey;
    border-radius: 3vw 3vw 3vw 3vw;
}

#row7 {
    text-align: center;
}