<!DOCTYPE html>
<html lang="en" ng-app="pdp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap -->
    <link href="https://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- link href="css/bootstrap-multiselect.css" rel="stylesheet" /-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/test.css" rel="stylesheet">
</head>

<body>
    <section class="menu title">
    </section>
    <header class="title header">
    </header>
    <section id="input" class="main container" ng-controller="UserController">
        <form name="newUser" ng-submit="add()">
            <section id="input1" class="col-md-3 input container">
                <div id="name" class="row">
                    <div class="form-group col-md-6">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" placeholder="First Name" ng-model="user.name.first">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="user.name.last">
                    </div>
                </div>
                <div id="row2" class="row">
                    <div class="form-group col-md-6">
                        <label for="gender">Gender</label>
                        <br/>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="m" value="m">Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="f" value="f">Female
                        </label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="bday">Birthday</label>
                        <input type="date" class="form-control" name="bday" id="bday" ng-model="user.dob">
                    </div>
                </div>
                <div id="row3" class="row">
                    <div class="form-group col-md-6">
                        <label for="country">Country</label>
                        <select id="country" class="form-control" ng-model="user.address.country">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="state">State</label>
                        <select id="state" class="form-control" ng-model="user.address.state">
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                            <option>E</option>
                        </select>
                    </div>
                </div>
                <div id="row4" class="row">
                    <div class="form-group col-md-6">
                        <label for="district">District</label>
                        <select id="district" class="form-control" ng-model="user.address.district">
                            <option>P</option>
                            <option>Q</option>
                            <option>R</option>
                            <option>S</option>
                            <option>T</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City" ng-model="user.address.city">
                    </div>
                </div>
                <div id="row5" class="row">
                    <div class="form-group col-md-12">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Address Line" ng-model="user.address.line1">
                    </div>
                </div>
                <div id="row6" class="row">
                    <div class="form-group col-md-6">
                        <label for="mobile">Mobile No.</label>
                        <input type="text" class="form-control" id="mobile" placeholder="Mobile No." ng-model="user.mobile.primary">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mobile2">Other Mobile No.</label>
                        <input type="text" class="form-control" id="mobile2" placeholder="Mobile No." ng-model="user.mobile.secondary">
                    </div>
                </div>
                <div id="row7" class="row">
                    <input type="submit" name="submit" class="btn btn-success" value="Submit"></input>
                </div>
        </form>
        </section>
        <section id="input2" class="col-md-6 input container">
        </section>
        <section id="input3" class="col-md-3 input container">
        </section>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script src="js/test.js" type="text/javascript"></script>
    <script src="js/angular.custom.js" type="text/javascript"></script>
</body>

</html>
